@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,500;1,500&display=swap');

:root { /* declaração de variáveis */
    --cor1: #252526;
    --cor2: #E9EBF2;
    --cor3: #F2D888;
    --cor4: #593E1D;
    --cor5: #BFA995;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;;
}

