@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;300;500;700;900&display=swap');
 
/* Universal */
:root { /* declaração de variáveis */
    --cor-preto: #000;
    --cor-cinza: #161510;
    --cor-azul: #1B6770;
    --cor-branco: #fff;
    --cor-vermelho: #FA190C;
    --fonte-universal: 'Inter', sans-serif;
    --fonte-titulos: 'Roboto Slab', serif;
    --fonte-datas: 'Roboto Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--fonte-universal);
    text-decoration: none;
}

.cabecalho {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-vermelho);
}

.cabecalho-botao-menu {
    display: none;
}

.cabecalho-imagem {
    margin: auto;
    display: block;
    width: 70%;
    height: auto;
}

.cabecalho-imagem-texto {
    color: var(--cor-branco);
    font-size: 1rem;
    font-weight: 500;
}

.cabecalho-titulo {
    color: var(--cor-branco);
    font-family: var(--fonte-titulos);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.cabecalho-data {
    text-align: center;
    color: var(--cor-branco);
    font-size: 1rem;
    font-weight: 400;
}

#cabecalho-botao {
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--cor-branco);
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#cabecalho-botao:hover {
    color: var(--cor-branco);
    background-color: var(--cor-cinza);
}

.navegacao {
    display: grid;
    grid-template-columns: 33% 1px 34% 1px 33%;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 15%;
    color: var(--cor-branco);
    background-color: var(--cor-azul);
}

.navegacao-noticia {
    max-width: 90%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-branco);
}

.span-negrito {
    font-weight: 600;
}

.rodape {
    display: grid;
    grid-template-columns: 60% 40%;
    row-gap: 10%;
    background-color: var(--cor-vermelho);
    padding: 4% 6%;
}

.rodape-titulo {
    grid-column: 1 / 2;
    color: var(--cor-branco);
    font-family: var(--fonte-titulos);
    font-weight: 700;
    font-size: 3vw;
}

.rodape-patrocinadores {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 70% 30%;
}

.patrocinadores-usp {
    width: auto;
    height: 4vw;
    position: relative;
    top: 10%;
}

.patrocinadores-unesp {
    width: auto;
    height: 4vw;
    position: relative;
    bottom: 80%;
}

.patrocinadores-cnn {
    width: 10vw;
    height: auto;
    grid-row: 1 / 3;
    margin: auto;
    display: block;
}

.rodape-contas {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.contas-link {
    margin: auto;
    display: block;
}

.contas-conta {
    width: 3.5vw;
    height: auto;
}

/* Página Inicial */
.bomba-imagem {
    margin: auto;
    display: block;
    height: auto;
    width: 80%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    filter: brightness(60%);
}

.bomba-titulo {
    max-width: 70%;
    color: var(--cor-branco);
    font-size: 3vw;
    font-weight: 700;
    position: relative;
    left: 5em;
    bottom: 4.5em;
}

.conteudo-index {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    justify-items: center;
    gap: 2% 3%;
    margin: 0 5% 40%;
}

.aside {
    border-radius: 15px;
    border: 1px solid var(--cor-preto);
}

.conteudo-index-calendario {
    grid-area: 1 / 2 / 4 / 3; 
    display: grid;
    grid-template-rows: 8% 32% 6% 48%; 
    row-gap: 2%;
    width: 100%;
}

.calendario-titulo {
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    align-self: center;
}

.calendario-tabela-titulo {
    font-family: var(--fonte-datas);
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.7vw;
}

.calendario-tabela-dia {
    font-family: var(--fonte-datas);
    font-size: 1.3vw;
    font-weight: 400;
    padding: 0.7vw;
    text-align: center;
}

.lua-cheia {
    background-image: url("../img/lua-cheia.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.lua-crescente {
    background-image: url("../img/lua-crescente.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.lua-nova {
    background-image: url("../img/lua-nova.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.lua-minguante {
    background-image: url("../img/lua-minguante.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.data-comemorativa {
    background-image: url("../img/quadrado-cinza.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--cor-branco)
}

.calendario-paragrafo {
    font-size: 1.2vw;
    font-weight: 400;
    text-align: center;
    align-self: center;
}

.calendario-lista {
    list-style-type: none;
    margin-left: 10%;
}

.calendario-lista-item {
    padding: 0.7vw;
    font-size: 1.2vw;
    font-weight: 300;
    display: flex; /* Apenas para alinhar */
    align-items: center;
}

.calendario-lista-imagem {
    border-radius: 4px;
    width: 2vw;
    height: auto;
    margin-right: 2%;
}

.conteudo-index-comemoracao {
    grid-area: 4 / 2 / 7 / 3;
    display: grid;
    grid-template-rows: 10% 30% 20% 40%;
}

.comemoracao-titulo {
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    align-self: center;
}

.comemoracao-artigo {
    margin: 0 15%;
}

.comemoracao-data {
    font-size: 1.4vw;
    margin-bottom: 2%;
    font-weight: 600;
}

.comemoracao-texto {
    font-size: 1.3vw;
    font-weight: 300;
}

.conteudo-index-podcasts {
    grid-area: 7 / 2 / 10 / 3;
    display: grid;
    grid-template-rows: 10% 30% 30% 30%;
    justify-content: center;
}

.podcasts-titulo {
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    align-self: center;
}

.podcasts-podcast {
    border-radius: 13px;
    border: 1px solid var(--cor-preto);
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 7.5%;
    max-height: 85%;
}

.podcasts-podcast-titulo {
    grid-column: 1 / 3;
    font-size: 1.4vw;
    font-weight: 600;
    text-align: center;
    align-self: center;
}

.podcasts-podcast-link {
    color: var(--cor-vermelho);
    font-size: 1.4vw;
    font-weight: 600;
    align-self: center;
    margin-left: 8.8%;
}

.podcasts-podcast-link:hover {
    color: var(--cor-azul);
}

.podcasts-podcast-link:active {
    text-decoration: underline;
}

.podcasts-podcast-imagem {
    width: 70%;
    height: auto;
    border-radius: 13px;
    align-self: center;
}

.conteudo-index-noticia {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 19vw;
    border-radius: 15px;
    border: 1px solid var(--cor-preto);
}

.noticia-imagem {
    grid-row: 1 / 3;
    width: 20vw;
    height: 13vw;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-self: center;
    align-self: center;
}

.noticia-titulo {
    color: var(--cor-vermelho);
    font-size: 1.3vw;
    font-weight: 600;
    justify-self: center;
    align-self: last baseline;
    margin: 0 10% 5% 0;
}

.noticia-titulo:hover {
    color: var(--cor-azul);
}

.noticia-titulo:active {
    text-decoration: underline;
}

.noticia-descricao {
    font-size: 1.1vw;
    font-weight: 300;
    justify-self: center;
    align-self: baseline;
    margin: 0 10% 5% 0;
}

/* Páginas Secundárias */
.imagem {
    margin: auto;
    display: block;
    width: 80%;
    height: auto;
    object-fit: cover;
}

.container {
    max-width: 70%;
    margin: 10% auto;
}

.container-titulo {
    color: var(--cor-azul);
    font-size: 40px;
    font-weight: 700;
}

.container-subtitulo {
    color: var(--cor-azul);
    font-size: 24px;
    font-weight: 600;
    margin: 4% 0;
}

.container-descricao {
    font-size: 20px;
    font-weight: 600;
    margin-top: 4%;
}

.container-paragrafo-padrao {
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    text-indent: 4em;
    margin: 4% 0;
}

.container-citacao {
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    margin: 4% 0 4% 23%;
}

.container-citacao:hover {
    color: var(--cor-azul);
    font-weight: 600;
}

.container-coluna {
    display: grid;
    grid-template-columns: 50% 50%;
}

.coluna-imagem {
    margin: auto;
    display: block;
    width: 245px;
    height: auto;
}

.coluna-imagem-descricao-direita {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2%;
    grid-column: 2 / 3;
}

.imagem-descricao {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2%;
}

.coluna-audios-esquerda {
    text-align: left;
    margin-right: 2%;
}

.coluna-audios-direita {
    text-align: right;
    margin-left: 2%;
}

.audios-titulo {
    color: var(--cor-azul);
    font-size: 15px;
    font-weight: 500;
}

.audios-audio {
    height: 20%;
    margin: 2% 0;
}

.audios-letra {
    font-size: 15px;
    font-weight: 400;
}

.musicas-descricao-esquerda {
    font-size: 15px;
    font-weight: 400;
}

.container-lista {
    list-style-type: none;
}

.musicas-descricao-direita {
    text-align: right;
    font-size: 15px;
    font-weight: 400;
}

.container-lista-direita {
    list-style-type: none;
    text-align: right;
}

.lista-item {
    font-size: 15px;
    font-weight: 400;
}

.container-imagem {
    margin: 4% auto;
    display: block;
    max-width: 90%;
    object-fit: cover;
}

.container-audio {
    margin: auto;
    display: block;
    width: 80%;
    
}
.container-video {
    margin: auto;
    display: block;
    width: 100%;
}

@media (min-width: 1600px) {
    .cabecalho-titulo {
        font-size: 4vw;
    }

    .cabecalho-data, .cabecalho-imagem-texto, #cabecalho-botao {
        font-size: 1.5vw;
    }

    .navegacao-noticia {
        font-size: 1.3vw;
    }
}

@media (max-width: 760px) {
    .navegacao, .cabecalho-imagem, .cabecalho-imagem-texto, #cabecalho-botao {
        display: none;
    }

    .cabecalho {
        margin-bottom: 20%;
        justify-content: space-between;
    }

    .cabecalho-titulo {
        font-size: 2rem;
    }

    .cabecalho-data {
        justify-self: end;
        font-size: 0.8rem;
    }

    .cabecalho-botao-menu {
        display: block;
    }
}

@media (max-width: 425px) {
    .conteudo-index {
        display: grid;
        grid-template-columns: 80%;
        row-gap: 1%;
    }

    .conteudo-index-calendario {
        grid-area: 1 / 1 / 4 / 2;
        height: 400px;
    }

    .calendario-titulo {
        font-size: 1.8vw;
    }

    .calendario-paragrafo {
        font-size: 1.6vw;
    }

    .calendario-lista-imagem {
        width: 3vw;
    }

    .calendario-lista-item {
        font-size: 1.5vw;
    }

    .lua-cheia, .lua-crescente, .lua-minguante, .lua-nova, .data-comemorativa {
        background-size: 40%;
    }

    .conteudo-index-comemoracao {
        grid-area: 4 / 1 / 7 / 2;
        height: 200px;
    }

    .comemoracao-titulo {
        font-size: 1.8vw;
    }

    .comemoracao-artigo {
        font-size: 1.4vw;
    }

    .comemoracao-data {
        font-size: 1.5vw;
    }

    .conteudo-index-podcasts {
        grid-area: 7 / 1 / 10 / 2;
        height: 500px;
    }

    .podcasts-titulo {
        font-size: 1.8vw;
    }

    .podcasts-podcast-titulo {
        font-size: 1.8vw;
    }

    .podcasts-podcast-link {
        font-size: 1.6vw;
    }

    .conteudo-index-noticia {
        height: 100px;
        width: 100%;
    }

    .noticia-imagem {
        width: 25vw;
        height: 16vw;
    }

    .noticia-descricao {
        font-size: 1.4vw;
    }

    .noticia-titulo {
        font-size: 1.5vw;
    }

    .rodape {
        margin-top: 20%;
    }
}